* {
    margin: 0;
    padding: 0;
}


nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 45px 240px;
}

/* nav */

.nav-logo {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.nav-container,
.nav-menu,
.follow-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}


/* .nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}

.follo-us{
    font-display:f ;
} */

.nav-menu li {
    list-style: none;
}

.nav-menu li a {
    text-decoration: none;
}

.follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
}